.container-fluid {
    background-color: rgb(203, 203, 203);
}

.tab-content img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid brown;
    border-radius: 50%; */
}

h1 {
    text-align: center;
    padding: 15px;
    color: hwb(27 6% 11%);
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: hsl(128, 91%, 21%);
    border-color: rgb(2, 2, 2);
    border-bottom: 10px;
    font-size: 13px;
}

/* 要更改背景顏色，將背景色改為灰色 */
.nav-tabs .nav-link {
    font-size: 14px;
    color: hsl(271, 94%, 33%);
    background-color: lightgray;
    /* 這裡是當它不是active時的背景顏色 */
}

.nav-link {
    font-size: 12px;
    color: hsl(271, 94%, 33%);
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.tab-content h3 {
    text-align: center;
    padding: 12px;
    color: blueviolet;
}

.active-tab {
    background-color: green;
    color: white;
}

.inactive-tab {
    background-color: grey;
    color: white;
}

#menu1,
#menu2,
#menu3,
#menu4,
#menu5 {
    background-color: cadetblue;
    height: auto;
    width: auto;
}

/* 默認情況下，input 元素占滿父容器 */
.form-control {
    width: 60%;
}

@media screen and (max-width: 768px) {

    h1 {
        text-align: center;
        padding: 15px;
        color: #5606a2;
        font-size: 18px;
    }

    .container-fluid {
        background-color: #769707;
        width: 90% !important;
    }

    containerN {
        height: 290px;
        background-color: rgb(230, 55, 11);


    }


    nav nav-tabs .nav-tabs,
    .nav-tabs .nav-link {
        width: 80%;
    }

    .form-control {
        width: 60%;
        font-size: 12px;
    }

    .form-controlday {
        width: 30%;
        font-size: 14px;
    }

    .form-select {
        width: 50%;
        /* 設定為 100% 占滿行寬度 */
        font-size: 14px;
        background-color: #fafcfa;
    }

    #menu1,
    #menu2,
    #menu3,
    #menu4,
    #menu5 {
    background-color: #1a6e0d;
    font-size: 14px;
        height: auto;
        width: auto;
        color: white; /* 設定字的顏色為白色 */
    }

}