

.form-control {
    width:auto;
    font-size: 14px;
}

    h1 {
        text-align: center;
        padding: 15px;
        color: #5606a2;
        font-size: 18px;
    }
    label{
        margin-top: 10px;
    }

    .container-fluid {
        background-color: #769707;
        width: 95% !important;
        height: auto;
    }


    .form-select {
        width: 55%;
        /* 設定為 100% 占滿行寬度 */
        font-size: 16px;
        background-color: #fafcfa;
    }
   .be white,
   .form-controlday,
   form-select,
   form-controlday
    {
        background-color: white;
    }

    .form-controlday
    {
     width:50%;
    }

    .form-select
    {
        width:30%;
       }
