.container-fluid {
    background-color: #f1ad68;
    }
    
    .tab-content img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid brown;
    border-radius: 50%; */
    }
    
    h1 {
    text-align: center;
    padding: 15px;
    color: #5606a2;
    }
    
    .nav-tabs .nav-link.active {
    color: hsl(0, 0%, 97%);
    background-color: rgb(245, 73, 4);
    border-color: #e40606;
    border-bottom: 10px;
    font-size: 14px;
    }
    
    .nav-link {
    font-size: 12px;
    color: rgb(10, 4, 0);
    }
    
    .nav-tabs {
    border-bottom: 1px solid black;
    }
    
    .tab-content h3 {
    text-align: center;
    padding: 12px;
    color: blueviolet;
    }
    #menu1, #menu2, #menu3, #menu4, #menu5, #menu6 {
    background-color: #eacd83;
    height: aoto;  
    }
      
